In [1]:
import pandas as pd

In [2]:
file_path = "../Raw_Data/Raw_Dataamazon_orders_raw.xlsx"

df = pd.read_excel(file_path)

In [3]:
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by
0,0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship
1,1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship
2,2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,NaN
3,3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship
4,4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79999 entries, 0 to 79998
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               79999 non-null  int64
 1   Order ID            79999 non-null  object
 2   Date                79999 non-null  datetime64[ns]
 3   Status              79999 non-null  object
 4   Fulfilment          79999 non-null  object
 5   Sales Channel       79999 non-null  object
 6   ship-service-level  79999 non-null  object
 7   Category            79999 non-null  object
 8   Size                79999 non-null  object
 9   Courier Status      79999 non-null  object
 10  Qty                 79999 non-null  int64
 11  currency            75236 non-null  object
 12  Amount              75236 non-null  float64
 13  ship-city           79977 non-null  object
 14  ship-state          79977 non-null  object
 15  ship-postal-code    79977 non-null  float64
 16  ship-country        79977 non-null  object
 17  B2B                 79999 non-null  bool
 18  fulfilled-by        26623 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(2), object(13)
memory usage: 11.1+ MB

In [5]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel',
       'ship-service-level', 'Category', 'Size', 'Courier Status', 'Qty',
       'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code',
       'ship-country', 'B2B', 'fulfilled-by'],
      dtype='object')

In [6]:
df = df.drop_duplicates()

In [7]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [8]:
df = df.dropna(how="all")

In [9]:
output_path = "../Working_Files/amazon_orders_clean.csv"

df.to_csv(output_path, index=False)