In [12]:
import pandas as pd
import numpy as np

In [13]:
import os
os.getcwd()

'C:\\Users\\KIIT\\OneDrive\\Desktop\\Amazon_Order_Fulfilment_Operations\\Python_Work'

In [14]:
os.listdir("../Working_Files")

['amazon_orders_clean.csv',
 'amazon_orders_clean_2.csv',
 'amazon_orders_validated.csv']

In [15]:
df = pd.read_csv("../Working_Files/amazon_orders_clean.csv")

In [16]:
os.getcwd()

'C:\\Users\\KIIT\\OneDrive\\Desktop\\Amazon_Order_Fulfilment_Operations\\Python_Work'

In [17]:
df.head()

,index,order_id,date,status,fulfilment,sales_channel,ship-service-level,category,size,courier_status,qty,currency,amount,ship-city,ship-state,ship-postal-code,ship-country,b2b,fulfilled-by
0,0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship
1,1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship
2,2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,NaN
3,3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship
4,4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,NaN

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79831 entries, 0 to 79830
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               79831 non-null  int64
 1   order_id            79831 non-null  object
 2   date                79831 non-null  object
 3   status              79831 non-null  object
 4   fulfilment          79831 non-null  object
 5   sales_channel       79831 non-null  object
 6   ship-service-level  79831 non-null  object
 7   category            79831 non-null  object
 8   size                79831 non-null  object
 9   courier_status      79831 non-null  object
 10  qty                 79831 non-null  int64
 11  currency            75079 non-null  object
 12  amount              75079 non-null  float64
 13  ship-city           79811 non-null  object
 14  ship-state          79811 non-null  object
 15  ship-postal-code    79811 non-null  float64
 16  ship-country        79811 non-null  object
 17  b2b                 79831 non-null  bool
 18  fulfilled-by        26573 non-null  object
dtypes: bool(1), float64(2), int64(2), object(14)
memory usage: 11.0+ MB

In [19]:
df.isna().sum()

index                     0
order_id                  0
date                      0
status                    0
fulfilment                0
sales_channel             0
ship-service-level        0
category                  0
size                      0
courier_status            0
qty                       0
currency               4752
amount                 4752
ship-city                20
ship-state               20
ship-postal-code         20
ship-country             20
b2b                       0
fulfilled-by          53258
dtype: int64

In [20]:
df.duplicated().sum()

0

In [21]:
df.to_csv("../Working_Files/amazon_orders_validated.csv", index=False)